// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// MARKETING_VERSION = 1.4.2
// CURRENT_PROJECT_VERSION = 2780

// Vars to be overwritten by `CodeSigning.xcconfig` if exists
DEVELOPMENT_TEAM = XXXXXXXXXX
ORG_IDENTIFIER = org.sidestore

// Codesigning settings defined optionally, see `CodeSigning.xcconfig.example`
#include? "CodeSigning.xcconfig"

ORG_PREFIX = $(ORG_IDENTIFIER)

PRODUCT_NAME = SideStore
//PRODUCT_NAME[configuration=Debug] = Prov Debug

PRODUCT_BUNDLE_IDENTIFIER   = $(ORG_PREFIX).$(PROJECT_NAME:lower)
//PRODUCT_BUNDLE_IDENTIFIER[configuration=Debug] = $(ORG_PREFIX).$(PROJECT_NAME:lower)-debug

APP_GROUP_IDENTIFIER        = group.$(ORG_PREFIX).$(PROJECT_NAME:lower)
ICLOUD_CONTAINER_IDENTIFIER = iCloud.$(ORG_PREFIX).$(PROJECT_NAME:lower)

// CODE_SIGN_ENTITLEMENTS      = $(TARGET_NAME)/$(TARGET_NAME)$(ENTITLEMENTS_TYPE).entitlements

// Entitlements based off of CodeSigning settings
IOS_CODE_SIGN_ENTITLEMENTS_YES = SideStore/SideStore.entitlements
IOS_CODE_SIGN_ENTITLEMENTS_NO =

ALTSERVER_PRODUCT_BUNDLE_IDENTIFIER = $(ORG_PREFIX).AltServer
ALTPLUGIN_PRODUCT_BUNDLE_IDENTIFIER = $(ORG_PREFIX).AltPlugin
ALTBACKUP_PRODUCT_BUNDLE_IDENTIFIER = $(ORG_PREFIX).AltBackup
ALTSTORECORE_PRODUCT_BUNDLE_IDENTIFIER = $(ORG_PREFIX).AltStoreCore
ALTWIDGETEXTENSION_PRODUCT_BUNDLE_IDENTIFIER = $(ORG_PREFIX).$(PROJECT_NAME:lower).AltWidget


// MAC_CODE_SIGN_ENTITLEMENTS_YES = Platform/macOS/macOS.entitlements
// MAC_CODE_SIGN_ENTITLEMENTS_NO = Platform/macOS/macOS-unsigned.entitlements
// MAC_CODE_SIGN_ENTITLEMENTS = $(MAC_CODE_SIGN_ENTITLEMENTS_$(DEVELOPER_ACCOUNT_VM_ACCESS:default=NO))

// Fixes XCode 13.2.1 issues
//OTHER_LDFLAGS = $(inherited) -Wl,-weak-lswift_Concurrency -Wl,-rpath,/usr/lib/swift -ObjC

//OTHER_LDFLAGS = $(inherited)
// ENABLE_BITCODE = NO
